.my-song-card{
  background: black;
  padding: 7px;
  width: 100%;
  margin-bottom: 10px;
}

.card-block {
  width: 100%;
  background: grey;
}

.card-title {
  margin: 0;
  padding: 7px;
  font-size: 25px;
  color: white;
}
