<div class="containter-fluid">
  <div class="row">
    <div class="col-xs-7">
      {{search-results submitQuery="getSearchResults"}}
    </div>
    <div class="my-playlist-wrapper col-xs-5">
      {{play-list songs=model}}
    </div>
  </div>
</div>

{{outlet}}
